<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Comment edition -->
<form id="edit-form" th:action="@{/edit_comment/{id}(id = ${comment.id})}" th:method="post" action="edit_comment.html">
    <h1>Comment Info:</h1>

    <div class="row" th:if="${comment.id} ne 0">
        <label for="id-input">ID:</label>
        <input id="id-input" type="number" readonly="readonly" th:value="${comment.id}"/>
    </div>

    <div class="row">
        <label for="book-id">Book:</label>
        <select id="book-id" name="bookId">
            <option th:each="book: ${books}"
                    th:text="${book.name}"
                    th:value="${book.id}"
                    th:selected="${comment.bookId} == ${book.id}"></option>
        </select>
    </div>

    <div class="row">
        <label for="comment-input">Comment:</label>
        <input id="comment-input" name="comment" type="text" th:value="${comment.comment}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
